<div class="history-container">
  <div class="search-bar">
    
    <input type="text" placeholder="Search by date..." [(ngModel)]="searchTerm" (ngModelChange)="search()" />
    <button (click)="search()">
      <i class="fa fa-search"></i> <!-- Icon tìm kiếm -->
    </button>
  </div>



  <table>
    <thead>
      <tr>
        <th (click)="sortById()">
          ID
          <i class="fa" [ngClass]="{
            'fa-arrow-up': sortOrder === 'asc',
            'fa-arrow-down': sortOrder === 'desc'
          }"></i>
        </th>
        <th>Device</th>
        <th>Action</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredData | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ item.id }}</td>
        <td>{{ item.device }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.time  | date: 'yyyy-MM-dd HH:mm:ss'  }}</td>
      </tr>
    </tbody>
  </table>
  <div class="show-rows">
    <label for="rows">Show</label>
    <select id="rows" [(ngModel)]="itemsPerPage" (change)="updateRows()">
      <option value="10">10 value</option>
      <option value="20">20 value</option>
      <option value="30">30 value</option>
      <option value="50">50 value</option>
    </select>
  </div>
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
