<div class="profile-container">
  <div class="profile-picture">
    <img src=".\assect\trungduc.jpg" alt="Profile Picture">
  </div>
  <div class="profile-details">
    <h2>Họ và tên: Lê Trung Đức</h2>
    <p>Lớp: D21CNPM2</p>
    <p>Mã SV: B21DCCN243</p>
    <p>SĐT: 0936068537</p>
    <p>Email: letrungducabcxyz&#64;gmail.com</p>
    
    <!-- Links -->
    <div class="profile-links">
    
      <p><a href=".\assect\Đề 49 CNPM.drawio.pdf" target="_blank">File báo cáo</a></p>
      <p><a href="https://github.com/trungduck45/Iot_System" target="_blank">Link GitHub</a></p>
      <p><a href="https://api.postman.com/collections/34374853-5e54e70b-4b35-4ef1-af74-ec614566a8e1?access_key=PMAT-01J8FRGNRT8DK3A5257J9G6RNF" target="_blank">API Documentation</a></p>
    </div>
  </div>
</div>
