<div class="statistics-container">
  <!-- Ô tìm kiếm và nút tìm kiếm -->
  <div class="search-container">
    <label for="searchType">Search by:</label>
    <select [(ngModel)]="searchType" id="searchType">
      <option value="temperature">Temperature</option>
      <option value="humidity">Humidity</option>
      <option value="light">Light</option>
      <option value="date">Time</option>
    </select>
  
    <input [(ngModel)]="searchValue" placeholder="Nhập giá trị tìm kiếm" />
  
    <button (click)="search()">Search</button>
  
    <!-- <div *ngIf="results.length > 0">
      <h3>Kết quả tìm kiếm:</h3>
      <ul>
        <li *ngFor="let data of results">
          {{ data.time }} - Nhiệt độ: {{ data.temperature }}°C, Độ ẩm: {{ data.humidity }}%, Ánh sáng: {{ data.light }} Lux
        </li>
      </ul>
    </div> -->
  </div>
  
  

  <!-- Dòng "Show rows" và box chọn số lượng giá trị hiển thị -->

  <table>
    <thead>
      <tr>
        <th (click)="sortById()">
          ID
          <i class="fa" [ngClass]="{
            'fa-arrow-up': sortOrder === 'asc',
            'fa-arrow-down': sortOrder === 'desc'
          }"></i>
        </th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Light</th>
        <th>Smoke</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredData | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ item.id }}</td>
        <td>{{ item.temperature }}°C</td>
        <td>{{ item.humidity }}%</td>
        <td>{{ item.light }} lux</td>
        <td>{{ item.smoke }}</td>
        <td>{{ item.time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>

      </tr>
    </tbody>
  </table>
  <div class="show-rows">
    <label for="rows">Show</label>
    <select id="rows" [(ngModel)]="itemsPerPage" (change)="updateRows()">
      <option value="10">10 value</option>
      <option value="20">20 value</option>
      <option value="30">30 value</option>
      <option value="50">50 value</option>
    </select>
  </div>

  <!-- Phân trang -->
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>