.statistics-container {
  background-color: #f0f0f0;
  padding: 30px;
}

.show-rows {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.show-rows label {
  margin-right: 5px;
  font-size: 15px;
}

.show-rows select {
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  cursor: pointer;
}

th i {
  margin-left: 5px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

  /* CSS cho thanh tìm kiếm */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;

  }
  
  .search-container label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  
  .search-container select,
  .search-container input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
    width: 180px; /* Độ rộng hợp lý */
  }
  
  .search-container select:focus,
  .search-container input:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .search-container button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-container button:hover {
    background-color: #45a049;
  }
  
  